@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  margin: 5px;
}

body {
  width: 98%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background: rgb(34, 67, 99);
  color: whitesmoke;
  font-size: 16px;
  text-align: center;
  gap: 5%;
}

p {
  padding: 5px;
}

h3 {
  font-size: 0.9rem;
  font-weight: 300;
}

.container {
  height: auto;
  width: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}

.score {
  margin-bottom: 10px;
  font-size: 0.9rem;
  width: 50%;
  font-weight: 700;
  color: whitesmoke;
}

#progressbar {
  margin-bottom: 10px;
  width: 200px;
  height: 20px;
  border: 3px solid whitesmoke;
  position: relative;
  border-radius: 10px;
  z-index: 0;
}

#progressbar-full {
  position: absolute;
  height: 15px;
  background-color: whitesmoke;
  width: 0%;
  z-index: 1;
}

.start-quiz {
  height: 25vh;
  width: 50vw;
  background: whitesmoke;
  color: rgb(34, 67, 99);
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
}
.start-quiz p {
  font-size: 0.9rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.start-quiz button {
  width: 50%;
  margin-top: 20px;
  padding: 10px;
  border-radius: 3px;
  font-weight: 700;
  border: none;
  outline: none;
  font-size: 1rem;
  background: rgb(34, 67, 99);
  color: whitesmoke;
}

.questions {
  width: 100%;
  height: 99%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.question {
  margin-bottom: 10px;
}

.answers {
  width: 95%;
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%;
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10%;
  background: rgb(34, 67, 99);
  margin-bottom: 5px;
  text-align: left;
  cursor: pointer;
  transition: all, 1s, ease;
  font-weight: 400;
}
.answers span {
  margin-left: 15px;
  margin-bottom: 10px;
  text-align: left;
}
.answers li {
  margin: 5px auto;
  padding-left: 5%;
  width: 90%;
  border: 2px solid whitesmoke;
  border-radius: 7px;
  text-align: left;
}

.answers li:hover {
  background-color: steelblue;
  color: black;
  box-shadow: 0 4px 0 0 steelblue;
}

.answers li:active {
  transform: scale(0.97);
}

.btn {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border-radius: 3px;
  font-weight: 600;
  border: none;
  outline: none;
  font-size: 1rem;
  background: whitesmoke;
  color: rgb(34, 67, 99);
}

/* js related */
.selected {
  color: rgb(34, 67, 99);
  background-color: whitesmoke;
  border-color: black;
  box-shadow: 0 4px 0 0 #bbbbbb;
}

.hide {
  display: none;
}

#result {
  width: 100%;
  text-align: center;
  font-weight: 500;
  color: whitesmoke;
}

@media screen and (min-width: 1024px) {
  .container {
    width: 80%;
  }
}/*# sourceMappingURL=style.css.map */